{% import '@NetlivaSymfonyFileHelper/macros.html.twig' as mcr %}

{% for files in uploadedFiles %}
	<li class="list-group-item" id="{{options.group~"-"~files.id}}">

		<div class="file_container"
			 data-control="{{ options|is_file_control }}"
			 data-control-type="{{ options|is_file_control ? options.control }}"
		>
			<div class="pull-right" style="display: flex">
				{% if options|is_file_control %}
					{{ mcr.showFileController(files) }}
				{% else %}
					{% if options.upload_btn_in_list|is_true %}
						{{ file_uploader_button(options.group, files.code, null, options) }}
					{% endif %}
					{% if options.deletable %}
						<button
								class="btn btn-xs btn-danger netlivaDeleteFile"
								data-delete-url="{{ path('netliva_filehelper_fileDelete', {"id": files.id}) }}"
								data-refresh='$("#{{options.group~"-"~files.id}}").remove()'
						><i class="fa fa-trash"></i></button>
					{% endif %}
				{% endif %}
			</div>

			{{ mcr.showFileInfo(files, files.name) }}
		</div>

		<script type="text/javascript">
			{% if ajaxload is defined %} nfh.resizeNetlivaFileList(); {% endif %}
		</script>
	</li>
{% endfor %}
