{% import '@NetlivaSymfonyFileHelper/macros.html.twig' as mcr %}

{% set stackedFiles = get_stack(group~"-"~key) %}
{% set totalFile = 0 %}
{% for uploadedInfo in stackedFiles %}
	{% if uploadedInfo.path and netliva_file_exists(uploadedInfo.path) %}
		{% set totalFile = totalFile+1 %}
	{% endif %}
{% endfor %}
<div class="list-sub-group">
	<div class="pad10B pad10T">
		<div class="float-right buttons {{ (options.upload_btn|is_true and options.all_approve_btn|is_true) ? "thin-button" }}">
			{% set uploader_btn = false %}
			{% if options|is_prepare_information %}
				{{ mcr.perpareInformation(listId~"-_-"~key, value.name) }}
			{% else %}
				{% if options.upload_btn|is_true %}
					{% set uploader_btn = true %}
					{{ file_uploader_button(group~"-"~key, null, null, {hard_stack_list:value.children, multiupload:value.multiupload, subDir: options.subDir, rename: options.rename, name:value.multiupload?value.name:false}) }}
				{% endif %}
				{% if options.all_approve_btn|is_true %}
					{{ mcr.allApproveBtn(group~"-"~key, value.name) }}
				{% endif %}
			{% endif %}
		</div>
		{{ mcr.showFilePreparedInformation(listId~"-_-"~key) }}
		<div class="sub_list_title d-flex">
			<span class="folder-icon">
				<i class="fa fa-folder"></i>
				<i class="fa fa-folder-open"></i>
			</span>
			<div>
				{{ value.name }}
				<br/>
				{{ (totalFile ? '<em class="text-primary">['~totalFile ~ " adet dosya yüklendi]</em>" : '<em class="text-warning">[Hiç dosya yüklenmedi]</em>')|raw }}
			</div>
		</div>
	</div>

	{% if stackedFiles|length > totalFile %}
		<button class="btn btn-xs showDeletedFilesOfStack">Silinenleri Göster</button>
	{% endif %}

	<ul class="list-group mrg10T" data-list-id="{{ listId }}" data-file-control="{{ totalFile }}" data-options="{{ options|json_encode }}" data-optional="{{ uploader_btn ? options|is_optional(value, key) : true }}">
		{% for uploadedInfo in stackedFiles %}
			<li class="list-group-item {{ (uploadedInfo.assess != "rejection" and not uploadedInfo.path) ? "file_not_exists" }}">
				{% include "@NetlivaSymfonyFileHelper/List.stack.line.html.twig" %}
			</li>
		{% else %}
			<li class="list-group-item">
				<div>
					Yüklenmiş Dosya Bulunamadı!
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
