
{% macro getList(list, group, listId, options, keyPrefix) %}
	{% import "@NetlivaSymfonyFileHelper/macros.html.twig" as self_macro %}

	{% for key, value in list %}
		{% if value.accepted_filters|length == 0 or options.filter in value.accepted_filters or options|is_prepare_information %}
			{% if keyPrefix %}
				{% set key = keyPrefix~"_"~key%}
			{% endif %}

			<li class="list-group-item" id="{{group~"-"~key}}" data-refresh-url="{{ path( value.type == "hard_stack" ? 'netliva_stack_refreshLine' : 'netliva_filehelper_refreshLine' ) }}">
				{% if value.type == "list" and  value.children is defined and value.children|length %}
					{% set totalUploaded = value.children|uploaded_count(group, key) %}
					<div class="list-sub-group">
						<div class="pad10B pad10T">
							<div class="sub_list_title d-flex">
								<span class="folder-icon">
									<i class="fa fa-folder"></i>
									<i class="fa fa-folder-open"></i>
								</span>
								<div>
									{{ value.name }} <br/>
									{{ (totalUploaded ? '<em class="text-primary">['~(value.children|length) ~" adet dosyadan, "~totalUploaded ~ " adet dosya yüklendi]</em>" : '<em class="text-warning">['~(value.children|length) ~' adet dosyanın hiç biri yüklenmedi]</em>')|raw }}
								</div>
							</div>
						</div>
						<ul class="list-group mrg10T" data-list-id="{{listId}}" data-options="{{ options|json_encode }}">
							{{ self_macro.getList(value.children, group, listId, options, key) }}
						</ul>
					</div>
				{% elseif value.type == "hard_stack" %}
					{% include "@NetlivaSymfonyFileHelper/List.stack.html.twig" %}
				{% else %}
					{% include "@NetlivaSymfonyFileHelper/List.hard.line.html.twig" %}
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
{% endmacro %}


{% macro showFileInfo(file, title, options = {}) %}
	{# @var file \Netliva\SymfonyFileHelperBundle\Entity\FileList #}
	{% set options = {showDetail:true, icon_size:'128', style: "line", hash:false }|merge(options) %}
	{% set filePath = null %}
	{% if file and netliva_file_exists(file.path) %}
		{% set filePath = options.hash ? public_media_uri(file.path) : secure_media_uri(file.path) %}
	{% endif %}

	<div class="fileInfo">
		<figure data-file-control="{{ filePath ? 1 : 0 }}" data-assess="{{ file?file.assess }}" data-file-name="{{ title }}" data-optional="{{ options.optional is defined and options.optional }}">
			{% if file and file.assess %}
				<i class="glyph-icon file_assess_icon icon-{{ file.assess=="rejection" ? "ban" : "check-circle-o" }} text-{{ file.assess=="rejection" ? "danger" : "success" }}"></i>
			{% endif %}
			{{ (filePath ? '<a href="'~asset(filePath)~'" class="netliva_file_link" target="_blank">':'')|raw }}
			<img src="{{ file|get_file_thumbnail(options.icon_size) }}" />
			{{ filePath ? '</a>':'' }}
		</figure>
		{% if options.style == "line" %}
			<figcaption>
				{{ (filePath ? '<a href="'~asset(filePath)~'" class="netliva_file_link" target="_blank"><i class="fa fa-external-link-alt"></i></a> &nbsp;':'')|raw }}
				{{ (file and file.inPast|length  ? '<a href="#" class="showPastBtn"><i class="fa fa-history"></i></a> &nbsp;':'')|raw }}

				{{ title }}
				{% if file is null %}
					<div><em class="text-warning">[Dosya Yüklenmemiş]</em></div>
				{% elseif file.assess == "rejection" %}
					<div><em class="text-danger">[Dosya Onaylanmamış]</em></div>
					<div class="popover-self">
						<i class="fa fa-info-circle"></i> {{ file.desc }}
					</div>
				{% elseif not file.path %}
					<div><em class="text-warning">[Dosya Silinmiş]</em></div>
					{% if options.showDetail %}
						<ul>
							<li>{{ ('<span class="text-muted">Silen:</span> '~ file.updateBy )|raw   }}</li>
							<li>{{ ('<span class="text-muted">Silme Tarihi:</span> ' ~ file.updateAt | date("d.m.Y H:i") )|raw}}</li>
						</ul>
					{% endif %}
				{% elseif not netliva_file_exists(file.path) %}
					<div><em class="text-danger">[Dosya Bulunamadı]</em></div>
				{% elseif options.showDetail %}
					<ul>
						<li>{{ (file.updateAt ? '<span class="text-muted">Güncelleyen:</span> '~ file.updateBy : '<span class="text-muted">Ekleyen: </span>' ~ file.addBy)| raw   }}</li>
						<li>{{ (file.updateAt ? '<span class="text-muted">Güncelleme Tarihi:</span> ' ~ file.updateAt | date("d.m.Y H:i") : '<span class="text-muted">Ekleme Tarihi: </span>' ~ file.addAt | date("d.m.Y H:i"))| raw }}</li>
					</ul>
				{% endif %}
			</figcaption>
		{% endif %}
	</div>

	{% if file and file.inPast|length %}
		<ul class="inPastForFile list-group">
			{% for pastFile in file.inPast|reverse  %}
				<li class="pastFileInfo list-group-item">
					<figure>
						{% set filePath = null %}
						{% if netliva_file_exists(pastFile.path) %}
							{% set filePath = options.hash ? public_media_uri(pastFile.path) : secure_media_uri(pastFile.path) %}
						{% endif %}

						{{ (filePath ? '<a href="'~asset(filePath)~'" class="netliva_file_link" target="_blank">':'')|raw }}
						<img src="{{ pastFile|get_file_thumbnail(128) }}" />
						{{ filePath ? '</a>':'' }}
					</figure>
					<figcaption>
						{{ (filePath ? '<a href="'~asset(filePath)~'" class="netliva_file_link" target="_blank"><i class="fa fa-external-link"></i></a>':'')|raw }} &nbsp;

						{{ pastFile.name }}

						{% if pastFile.assess is defined and pastFile.assess == "rejection" %}
							<div><em class="text-danger">[Dosya Reddetme İşlemi ]</em></div>
							<div class="popover-self">
								<i class="fa fa-info-circle"></i> {{ pastFile.desc }}
							</div>
							{% if options.showDetail %}
								<ul>
									<li><span class="text-muted">Reddeden: </span>{{ pastFile.addBy is defined ? pastFile.addBy.name : '---' }}</li>
									<li><span class="text-muted">Red Tarihi: </span>{{ pastFile.addAt.date | date("d.m.Y H:i") }}</li>
								</ul>
							{% endif %}
						{% elseif not pastFile.path %}
							<br />
							<em class="text-danger">Dosya Silme İşlemi</em>
							{% if options.showDetail %}
								<ul>
									<li><span class="text-muted">Silen: </span>{{ pastFile.addBy is defined ? pastFile.addBy.name : '---' }}</li>
									<li><span class="text-muted">Silme Tarihi: </span>{{ pastFile.addAt.date | date("d.m.Y H:i") }}</li>
								</ul>
							{% endif %}
						{% elseif not filePath %}
							<br />
							<em class="text-danger">[Dosya Bulunamadı]</em>
							{% if options.showDetail %}
								<ul>
									<li><span class="text-muted">Ekleyen: </span>{{ pastFile.addBy is defined ? pastFile.addBy.name : '---' }}</li>
									<li><span class="text-muted">Ekleme Tarihi: </span>{{ pastFile.addAt.date | date("d.m.Y H:i") }}</li>
								</ul>
							{% endif %}
						{% elseif options.showDetail %}
							<ul>
								<li><span class="text-muted">Ekleyen: </span>{{ pastFile.addBy is defined ? pastFile.addBy.name : '---' }}</li>
								<li><span class="text-muted">Ekleme Tarihi: </span>{{ pastFile.addAt.date | date("d.m.Y H:i") }}</li>
							</ul>
						{% endif %}
					</figcaption>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}


{% macro showFileController(file) %}
	{# @var file \Netliva\SymfonyFileHelperBundle\Entity\FileList #}
	{% if file and file.path %}
		<div class="float-right file_control_buttons"
			 data-assessed="{{ file.assess ? 1 : 0 }}"  {# kontrol yapıldı mı #}
			 data-file-id="{{ file.id }}"
			 data-file-name="{{ file.name }}"
		>
			{% if not file.assess %}
				<button class="btn btn-success"><i class="fa fa-check"></i></button>
				<br/>
				<button class="btn btn-danger"><i class="fa fa-ban"></i></button>
				<script type="text/javascript">
					if (typeof netliva_file_assess_path == "undefined")
						netliva_file_assess_path = '{{ path("netliva_filehelper_assess") }}';
				</script>
			{% endif %}
		</div>
	{% endif %}
{% endmacro %}

{% macro allApproveBtn(fileGroup, name) %}
	<div class="float-right all_approve_button"
		 data-file-group="{{ fileGroup }}"
		 data-group-name="{{ name }}"
	>
		<button class="btn btn-success"><i class="fa fa-check"></i></button>
		<script type="text/javascript">
			if (typeof netliva_all_approve_path == "undefined")
				netliva_all_approve_path = '{{ path("netliva_filehelper_all_approve") }}';
		</script>
	</div>
{% endmacro %}

{% macro perpareInformation(key, name) %}
	<div class="file_list_prepare_information pad10B" data-name="{{ name }}" data-url="{{ path('settings_file_information', {'file_key': key}) }}">
		<button class="btn btn-success"><i class="fa fa-info-circle"></i></button>
	</div>
{% endmacro %}

{% macro showFilePreparedInformation(key) %}
	{% set fileInf = get_option("file_info_"~key) %}
	{% if fileInf %}
		<i class="fa fa-info-circle popover-button file_list_info_icon" data-id="#file_info_{{ key }}" data-placement="right"></i>
		<div id="file_info_{{ key }}" class="hide">
			<div class="file_info_area">
				{{ fileInf }}
				{% set info_file_path = get_file_path_if_exist("FileInfo", key) %}
				{% if info_file_path %}
					<div class="file_info_file_link">
						{{ show_file("FileInfo", key, { style: 'icon', icon_size: 32}) }}
						<a class="netliva_file_link pad10L" target="_blank" href="{{ asset(info_file_path) }}">Örnek dosyayı incelemek için tıklayınız.</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endmacro %}
