{% import '@NetlivaFile/File/macros.html.twig' as mcr %}

{% if opt.style == "link" %}
	<a class="file_list_link_{{ file ? file.id : fileGroup~"-"~fileCode  }}" href="{{ file ? asset(file.path) : "#" }}" target="_blank"><i class="glyph-icon icon-external-link"></i></a>
	{% if not file or not file_exists(file.path) %}
		<script type="text/javascript">
			jQuery(function ($){
				$(".file_list_link_{{ file ? file.id : fileGroup~"-"~fileCode }}").click(function(e){
					e.preventDefault();
					alert("Dosya Bulunamadı");
					return false;
				});
			});
		</script>
	{% endif %}
{% else %}
	<div class="showFileArea showFileArea-{{ opt.style }} showFileArea-{{ opt.icon_size }} showFileArea-{{fileGroup}}-{{fileCode}}">
		{{ mcr.showFileInfo(file, file ? file.name : "Dosya Bulunamadı", {
			showDetail: true,
			icon_size: opt.icon_size,
			style: opt.style,
			hash: opt.hash,
			optional: true
		}) }}
	</div>
{% endif %}
